---
import '../../styles/blocks/_cards-block-type-2.scss';

interface Card {
  image: string;
  title: string;
  description: string;
  link: string;
  linkText: string;
}

interface Props {
  id?: string;
  class?: string;

  pretitle?: string;
  title?: string;
  description?: string;

  cards: Card[];
}

const { 
  id, 
  class: className = '', 

  pretitle,
  title, 
  description,

  cards =[]
} = Astro.props;

---

<div class={`cards-block-type-2 ${className}`} id={id || undefined}>
  <div class="container">

    <div class="row">
      <div class="c-12 c-md-10 m-md-1">
        {pretitle &&(
          <div class="pretitle text--center mb-16">
            <slot name="pretitle">{pretitle}</slot>
          </div>
        )}
        {title &&(
          <h2 class="title-h2 text--center">
            <slot name="title">{title}</slot>
          </h2>
        )}
        {description &&(
          <div class="mw-wrapper mw-wrapper--center mt-16">
            <p class="text--center">{description}</p>
          </div>
        )}
      </div>
    </div>

    <div class={`row ${title || description ? 'mt-48' : ''}`}>
      <div class="c-12">
        <div class="cards">
          {cards.map((card, index) => (
            <div class="card" key={index}>
              <div class="card__image-wrapper">
                <img src={card.image} alt={card.title} />
              </div>
              <div class="card__content-wrapper">
                <div class="title-h3">{card.title}</div>
                <p class="mt-16">{card.description}</p>
                {card.link &&(
                  <div class="buttons-wrapper mt-24">
                    <a href={card.link} class="button button--outlined--gray">{card.linkText}</a>
                  </div>
                )}
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>

  </div>
</div>
