---
import '../../styles/blocks/_price-table-block.scss';

interface Item {
  title: string;
  description?: string;
  price: string;
}

interface Props {
  id?: string;
  class?: string;

  pretitle?: string;
  title?: string;
  description?: string;

  items: Item[]
}

const { 
  id, 
  class: className = '', 

  pretitle,
  title, 
  description,

  items =[]
} = Astro.props;

---

<div class={`price-table-block ${className}`} id={id || undefined}>
  <div class="container">

    <div class="row">
      <div class="c-12 c-md-10 m-md-1">
        {pretitle &&(
          <div class="pretitle text--center mb-16">
            <slot name="pretitle">{pretitle}</slot>
          </div>
        )}
        {title &&(
          <h2 class="title-h2 text--center">
            <slot name="title">{title}</slot>
          </h2>
        )}
        {description &&(
          <div class="mw-wrapper mw-wrapper--center mt-16">
            <p class="text--center">{description}</p>
          </div>
        )}
      </div>
    </div>

    <div class={`row ${title || description ? 'mt-48' : ''}`}>
      <div class="c-12 c-md-10 m-md-1">
        <div class="table">
          {items.map((item, index) => (
            <div class="table-item">
              <div class="table-item__title">
                <p class="text--medium text--white">{item.title}</p>
                {item.description &&( <p class="text--small mt-4">{item.description}</p> )}
              </div>
              <div class="table-item__price text--medium text--white">{item.price}</div>
            </div>
          ))}
        </div>
      </div>
    </div>

  </div>
</div>
