---
import { data } from '../../data/data';
---

<footer class="footer mt-64 mt-sm-96 mt-md-128 pt-96 pb-96">
  <div class="container">
    <div class="row">
      <div class="c-12">
        <div class="footer-widgets">
          <div class="footer-widget">
            <div class="footer-widget__links">
              <a href="/o-proekte/">О проекте</a>
              <a href="/vse-bloki">Все блоки</a>
            </div>
          </div>
          <div class="footer-widget">
            <div class="footer-widget__links">
              <a href="/izdeliya/">Изделия</a>
              <a href="/izdeliya-na-zakaz/">Изделия на заказ</a>
            </div>
          </div>
          <div class="footer-widget">
            <div class="footer-widget__links">
              <a href="/portfolio/">Портфолио</a>
              <a href="/otzyvy/">Отзывы</a>
              <a href="/dostavka/">Доставка</a>
              <a href="/sotrudnichestvo/">Сотрудничество</a>
              <a href="/kontakty/">Контакты</a>
            </div>
          </div>
          <div class="footer-widget">
            <div class="buttons-wrapper">
              {data.social.vk && (
                <a href={data.social.vk} class="button--icon button--icon--vk"></a>
              )}
              {data.social.telegramChannel && (
                <a href={data.social.telegramChannel} class="button--icon button--icon--telegram"></a>
              )}
              {data.social.max && (
                <a href={data.social.max} class="button--icon button--icon--max"></a>
              )}
              {data.social.pinterest && (
                <a href={data.social.pinterest} class="button--icon button--icon--pinterest"></a>
              )}
            </div>
            <div class="mt-24">
              <a href={data.social.telegramProfile} class="text--x-small" target="_blank">разработка сайта</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="scroll-to-top">
  <a href="#top" class="scroll-to-top__button scroll-to"><span class="material-symbols-outlined">keyboard_arrow_up</span></a>
</div>